<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
   <!-- <property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
    <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="connection.username">scott</property>
    <property name="connection.password">tiger</property>

    <property name="dialect">
      org.hibernate.dialect.Oracle9Dialect
    </property>

    <mapping resource="com/entity/Dept.hbm.xml"/>
      <mapping resource="com/entity/Emp.hbm.xml"/>-->



      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->

    <property name="connection.url">jdbc:mysql://localhost:3306/boode</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

      <!-- 配置hibernate的基本信息 -->

    <!-- 配置数据库方言dialect -->
    <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
      <mapping resource="com/entity/Dept.hbm.xml"/>
      <mapping resource="com/entity/Emp.hbm.xml"/>

      <!-- 指定自动生成数据表的策略 -->
    <!--<property name="hbm2ddl.auto">update</property>-->


          <!-- 1. 配置数据库的连接 -->
          <!-- (1) 数据库驱动 -->
          <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
          <!-- (2) URL -->
          <property name="connection.url">jdbc:mysql://localhost:3306/boode</property>
          <!-- (3) 用户 -->
          <property name="connection.username">root</property>
          <!-- (4) 密码 -->
          <property name="connection.password">root</property>
          <!-- (5) 数据库方言 -->
          <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

          <!-- 2. 其它配置 -->
          <property name="show_sql">true</property>
          <property name="format_sql">true</property>

          <!-- 3. 指定POJO类与表的映射文件（hbm）的路径  -->
          <mapping resource="com/entity/Emp.hbm.xml"/>
</session-factory>
</hibernate-configuration>